In [9]:
import numpy as np
from matplotlib import pyplot as plt
import math
import scipy
import lasio
import os
import pandas as pd

path = r'./welldata/RIGIS/'

In [10]:
lasDataFrame = []
for file in os.listdir(path):
    if file.endswith('1.las'):
        lasDataFrame.append(lasio.read(path+file).df())
lasDataFrame[0].style